/*font-family: 'Alice', serif;*/
.container {
  padding: 0 150px;
}

body {
  background-color: #f88020;
}
nav {
/*    margin-top: 50px;
    margin-bottom: 20px;*/
  background-color: #f88020;
  min-width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.mi-logo {
  padding: -50px;
  height: 150%;
  width: auto;
}

.resume {
  text-decoration: none;
  font-family: 'Alice', serif;
  color: white;
  padding: 16px;
  font-size: 24px;
  font-family: 'Archivo Black', sans-serif;
}

.mi-logo:hover {
  opacity: 0.8;
}

.resume:hover {
  opacity: 0.8;
}

h1 {
  font-size: 48px;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  padding: 300px;
  background-color: #f88020;
  margin-top: 0;
  color: white;
  margin-bottom: 0;
}

header {
  background-color: rgb(250, 250, 250);
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 50px;
}

.intro-body .name {
  font-family: 'Archivo Black', sans-serif;
  font-size: 42px;
  letter-spacing: 1px;
  color: #f88020;
}

.intro-body .subtitle {
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: #ec9b3b;
  font-size: 18px;
  letter-spacing: 2px;
}

.intro-body .subtitle::after {
  margin: 30px 0;
  content: '';
  width: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.intro-body .intro {
  color: black;
  width: 400px;
}

.intro-body .intro img {
  margin: -3px 10px;
  height: 30px;
}

header .profile-img img {
  float: right;
  border-radius: 50%;
}

.lego {
  background-color: rgb(250, 250, 250);
  width: 500px;
  padding: 24px;
  margin: 24px auto;
  border-radius: 1%;
}

h2::after {
  margin: 30px 0;
  content: '';
  width: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.lego img {
  width: 500px;
  height: 500px;
  border-radius: 2%;
}

.cat {
  background-color: rgb(250, 250, 250);
  width: 500px;
  padding: 24px;
  margin: 24px auto;
  border-radius: 1%;
}

.cat img {
  width: 500px;
  height: 500px;
  border-radius: 2%;
}

.doodle {
  background-color: rgb(250, 250, 250);
  width: 500px;
  padding: 24px;
  margin: 24px auto;
  border-radius: 1%;
}

.doodle img {
  width: 500px;
  height: 500px;
  border-radius: 2%;
}

footer .content {
  text-align: center;
  background-color: #f88020;
  border-top: 0.5px solid white;
}

footer .content .logo img {
  height: 100px;
  width: auto;
  text-align: center;
  margin-right: 20px;
}


footer .content .logo::after {
  content: '';
  border-bottom: 3px solid white;
  width: 30px;
  margin: 5px auto;
  display: block;
}

footer .content .email {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;
}

footer .content .email-sub {
  font-size: 11px;
  letter-spacing: 0.5px;
  opacity: 0.2;
  font-style: italic;
}

footer .list-inline {
  list-style: none;
  padding: 0;
}

footer .list-inline li {
  display: inline-block;
}

footer .list-inline li a {
  font-size: 24px;
  margin: 8px 24px;
  color: rgb(250, 250, 250);
}

footer .list-inline li a:hover {
  color: rgb(100, 100, 100);
}

